body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 100%);
  margin: 0;
  font-size: 1.4rem;
}

h2 {
  color: hsl(300deg 43% 22%);
}

header {
  height: 100vh;
  max-width: 95%;
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom left;
  display: inline-flex;
  align-items: center;
}

.header {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header img {
  width: 13rem;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 1px cadetblue;
}

.name {
  color: #155371eb;
}

strong {
  color: #155371;
}

.header .logo {
  width: 3rem;
  margin: 10px;
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 0.1s;
}

hr {
  width: 18%;
  opacity: 0.6;
  border-color: darkslategrey;
  margin: 0 auto;
  /* margin: 3rem auto 4rem auto; */
}

.skills-section, .education-section, .projects, .aboutme-section {
  padding: 50px 0;
}

.skills-section {
  background-color: rgb(249, 249, 249);
  clip-path: polygon(0% 6%, 100% 0px, 100% 94%, 0px 100%);
}

.about-info {
  margin: auto 8rem;
  text-align: left;
}

.skill {
  display: inline-block;
  margin: 0 35px;
}

.skill img {
  display: block;
}

.skill h4 {
  margin-top: 0;
  font-size: 1.2rem;
}

.project {
  color: hsl(0, 0%, 100%);
  background-color: hsl(300deg 42% 15% / 97%);
  margin: 10px auto;
  border-radius: 15px;
  padding: 5px 15px;
  max-width: 36rem;
}

.container {
  display: inline-flex;
  flex-direction: column;
  width: 90%;
  text-align: left;
}

@media (max-width:800px) {
  .container {
    display: block;
    width: 90%;
    margin: auto;
  }

  .about-info {
    margin: auto 30px;
  }
}

.project p {
  padding: 0 15px 0 18px
}

.project-name {
  text-decoration: underline;
  margin: 20px;
}

.project-used {
  font-size: 15px;
}

.project:hover {
  transform: scale(1.01);
}

.project-info {
  font-size: 15px;
}
