html {
  scroll-behavior: smooth;
  scroll-padding-top: 22px;
}
* {
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: #f2f2f1;
  --color-text-primary: #1a0202;
  --color-text-secondary: #155371eb;
}

body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-primary);
  margin: 0;
  color: var(--color-text-primary);
}

.dark {
  --color-primary: rgb(33 31 31);
  --color-secondary: rgb(35, 35, 35);
  --color-text-primary: #dee4ea;
  --color-text-secondary: rgb(218 218 232);
}

a {
  text-decoration: none;
  color: inherit;
}

/*============= NAV BAR ===============*/
nav {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 45px;
  font-size: 18px;
  background: var(--color-secondary);
  box-shadow: rgb(0 0 0 / 12%) 0px 5px 10px;
  position: fixed;
  z-index: 1;
  box-sizing: border-box;
  padding: 0 20px;
}

.sr-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
}

.invert {
  filter: invert(1);
}

#logo {
  width: 45px;
}

li {
  display: inline;
  margin-right: 25px;
  cursor: pointer;
}

li:hover {
  color: darkgreen;
}

.theme-mode-container {
  height: 35px;
  width: 35px;
  cursor: pointer;
  background: #ffffff;
  display: inline-flex;
  border: 1px solid greenyellow;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.theme-mode-img {
  width: 18px;
}

/*============== HEADER ===============*/
#head-section {
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
  /* background-image: url("../images/cool-background\ \(1\).png"); */
  background-image: url("../images/bg2.jpg");
}

.name {
  font-size: 40px;
  color: #f2f2f1;
  text-shadow: 2px 3px black;
}
.name-im div {
  display: inline-block;
  font-size: 0;
}
.name-im {
  font-family: "Rock Salt", cursive;
  display: block;
}
.name-char {
  font-size: 34px;
  letter-spacing: 2px;
}
.name-color {
  color: #d0daa0;
}
.name-color {
  color: #cbf015;
}
#dp {
  width: 212px;
  height: 200px;
  border-radius: 50%;
  /* box-shadow: 2px 4px 5px 4px rgb(35 35 35); BLACK */
  box-shadow: 1px 2px 3px 1px rgb(255 255 255);
}

strong {
  font-size: 43px;
}

header .social-profiles {
  position: absolute;
  bottom: 5px;
}

.social-logo {
  width: 45px;
  height: 45px;
  margin: 8px;
}

.social-logo:hover {
  transform: scale(1.1);
  transition: transform 0.1s;
}

/*============== horizontal line =========*/
hr {
  width: 18%;
  opacity: 0.6;
  border-color: darkslategrey;
  margin: 0 auto;
}

/*============= SECTION ==============*/
section {
  padding: 30px 0;
}

.section-heading {
  color: var(--color-text-secondary);
  font-size: 28.5px;
  margin-top: 5px;
}

/*========= ABOUT SECTION ===========*/
#aboutme {
  font-size: 25px;
  background-color: var(--color-secondary);
  position: relative;
  background-size: cover;
}

.about-info {
  background: black;
  max-width: 70rem;
  margin: auto;
  text-align: left;
  font-size: 17px;
  font-family: monospace;
}
.about-me-header {
  background-color: #040428;
  padding: 9px 15px 7px 15px;
}
.about-me-header div {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #c3c31a;
  display: inline-block;
}
.about-me-header div:nth-child(1) {
  background-color: red;
}
.about-me-header div:nth-child(2) {
  background-color: green;
}
.about-me {
  padding: 20px;
  padding-top: 10px;
}
.about-info p {
  margin: 0;
  color: #dee4ea;
}
.l2 {
  margin-left: 20px !important;
}
.l3 {
  margin-left: 40px !important;
}
.l4 {
  margin-left: 60px !important;
}

/*========= SKILLS SECTION ===========*/
#skills {
  background-color: var(--color-primary);
  /* clip-path: polygon(0% 6%, 100% 0px, 100% 94%, 0px 100%); */
}

.skill-container {
  max-width: 55rem;
  margin: auto;
  text-align: start;
}

.sk-par-con {
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 110px);
  justify-content: start;
  align-items: start;
}
.skill-container h4 {
  font-size: 20px;
  grid-row: 1/10;
  grid-column: 1/3;
  padding-left: 80px;
}
.skill-container img {
  width: 80px;
  height: 80px;
  margin: auto;
}

/*========= WORK DONE ===========*/
#workdone {
  background-color: var(--color-secondary);
}

.work-done {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
}

.work-box {
  height: 16rem;
  width: 27rem;
  border-radius: 8px;
  overflow: hidden;
  margin: 0.8rem;
  box-shadow: 2px 9px 3px -8px cadetblue;
}

.work-done img {
  width: 100%;
  height: 84%;
  transition: 0.2s;
}

.work-done img:hover {
  transform: scale(1.03);
  transition: 0.2s;
  cursor: pointer;
}

.work-done h3 {
  margin: 0;
  font-size: 20px;
}

/* --------------------------------- CONTACT -------------------------------- */
#contact {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  padding: 30px 20px;
  margin-bottom: 20px;
  position: relative;
}
.contact-container {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background: #232323;
  background: var(--color-secondary);
  max-width: 65rem;
}
iframe {
  height: 260px;
  width: 40%;
}
form {
  text-align: start;
  width: 60%;
  padding: 10px 20px 20px;
}
form > div {
  margin: 10px 0;
}
label {
  display: block;
  margin-top: 15px;
}
input,
textarea {
  width: 100%;
  height: 30px;
  font-family: inherit;
  font-size: 15px;
  padding: 14px 10px 10px 2px;
  letter-spacing: 0.6px;
  color: var(--color-text-primary);
  background: inherit;
  border-width: 0;
  border-bottom: 1px solid var(--color-text-primary);
  outline: none;
}

textarea {
  resize: none;
  height: 120px;
}
#send-btn {
  cursor: pointer;
  height: 30px;
  width: 60px;
  font-family: inherit;
  font-size: 15px;
  border-radius: 5px;
  background: inherit;
  color: var(--color-text-primary);
  border: 1px solid var(--color-text-primary);
}
#send-btn:hover {
  color: var(--color-primary);
  background: var(--color-text-primary);
}

/*========== FOOTER =============*/
footer {
  background-color: var(--color-secondary);
  width: 100%;
  color: var(--color-text-secondary);
}
footer .social-profiles {
  margin-top: -10px;
}
footer .social-logo {
  width: 30px;
  height: 30px;
  margin: 5px;
}
footer p {
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  padding-bottom: 15px;
}

/*======= MEDIA QUERY:800px ========*/
@media (max-width: 800px) {
  .name {
    font-size: 33px;
  }
  .name-char {
    font-size: 30px;
  }
  #aboutme {
    font-size: 20px;
  }
  .about-info {
    font-size: 15px;
  }
  .social-logo {
    width: 42px;
    height: 42px;
  }
  .sk-par-con {
    grid-template-columns: repeat(auto-fit, 85px);
  }
  .skill-container h4 {
    font-size: 16px;
    padding-left: 40px;
  }
  .skill-container img {
    width: 60px;
    height: 60px;
  }
  #contact {
    margin-bottom: 10px;
  }
  .contact-container {
    flex-direction: column;
  }
  iframe {
    height: 300px;
  }
  form {
    margin-right: unset;
    width: 100%;
  }
  iframe {
    margin-top: 20px;
    width: 100%;
    max-width: 36rem;
  }
}

@media (max-width: 1160px) {
  .about-info {
    margin: 0 15px;
  }
}

/*========= MEDIA QUERY:600px =============*/
@media (max-width: 600px) {
  .navbar-headings {
    display: none;
  }
  #dp {
    width: 170px;
    height: 160px;
  }
  .name-char {
    font-size: 27px;
  }
  .im {
    display: block;
    height: 50px;
  }
  #aboutme {
    font-size: 19px;
  }
  .about-info {
    font-size: 13px;
  }
  .about-me-header div {
    width: 10px;
    height: 10px;
  }
  .sk-par-con {
    grid-template-columns: repeat(auto-fit, 60px);
    gap: 0px 10px;
  }
  .skill-container h4 {
    padding-left: 25px;
  }
  .skill-container img {
  }
  .work-done {
    width: 95%;
  }
  .work-box {
    height: unset;
    width: unset;
  }

  .work-done h3 {
    font-size: 19px;
  }
}
