@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 22px;
}
* {
  box-sizing: border-box;
}
:root {
  --color-primary: hsl(0deg 0% 97%);
  --color-secondary: #f2f2f1;
  --color-text-primary: #1a0202;
  --color-text-secondary: #155371eb;
  --theme-invert: none;
}
body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
#root > div {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
}

/*================== DARK THEME ==================*/
.dark {
  --color-primary: rgb(33 31 31);
  --color-secondary: rgb(35, 35, 35);
  --color-text-primary: #dee4ea;
  --color-text-secondary: rgb(218 218 232);
  --theme-invert: invert();
  animation: fade-in 0.5s forwards;
  opacity: 0;
}
@keyframes fade-in {
  to {
    opacity: 1;
  }
}

/*================== GLOBAL ==================*/
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
li {
  display: inline;
  margin-right: 25px;
  cursor: pointer;
}
li:hover {
  color: #008ed6;
}
strong {
  font-size: 43px;
}
hr {
  width: 18%;
  opacity: 0.6;
  border-color: darkslategrey;
  margin: 0 auto;
}

/*================== NAVBAR ==================*/
nav {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 45px;
  font-size: 18px;
  background: var(--color-secondary);
  color: var(--color-text-primary);
  box-shadow: rgb(0 0 0 / 12%) 0px 5px 10px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 0 15px;
}
.sr-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
}
.invert {
  filter: invert(1);
}
#logo {
  width: 45px;
  height: 45px;
  opacity: 0.95;
}
.theme-mode-container {
  height: 35px;
  width: 35px;
  cursor: pointer;
  background: var(--color-secondary);
  display: inline-flex;
  border: 1.5px solid var(--color-text-primary);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.theme-mode-img {
  filter: var(--theme-invert);
  width: 20px;
  height: 20px;
}
.theme-animate {
  animation: th 0.5s;
}
@keyframes th {
  0% {
    transform: translateY(-30px);
  }
  90% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*================== HEADER ==================*/
#head-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-image: url("./assets/images/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.name {
  font-size: 40px;
  color: #f2f2f1;
  text-shadow: 2px 3px black;
}
.name-im {
  font-family: "Rock Salt", cursive;
}
.name-im div {
  display: inline-block;
  font-size: 0;
  margin: 0 8px;
}
.name-char {
  font-size: 34px;
  letter-spacing: 2px;
}
.name-color {
  color: #cbf015;
}
#dp {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px #fff;
}
header .social-profiles {
  position: absolute;
  bottom: 5px;
}
.social-logo {
  width: 45px;
  height: 45px;
  margin: 8px;
  transition: transform 0.1s;
}
.social-logo:hover {
  transform: scale(1.1);
}
.left-slogo,
.right-slogo {
  animation: popin 1.2s;
}
@keyframes popin {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

/*================== SECTIONS ==================*/
section {
  padding: 30px 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-heading {
  color: var(--color-text-secondary);
  font-size: 28.5px;
  margin-top: 5px;
  border-bottom: 2px solid var(--color-text-secondary);
}

/*================== ABOUT ==================*/
#aboutme {
  font-size: 25px;
  background-color: var(--color-secondary);
  position: relative;
}
.about-info {
  background: black;
  width: 90%;
  max-width: 1440px;
  margin: auto;
  text-align: left;
  font-size: 17px;
  font-family: monospace;
}
.about-me-header {
  background-color: #040428;
  padding: 9px 15px 7px;
}
.about-me-header div {
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 6px;
}
.about-me-header div:nth-child(1) {
  background-color: red;
}
.about-me-header div:nth-child(2) {
  background-color: green;
}
.about-me-header div:nth-child(3) {
  background-color: #c3c31a;
}
.about-me {
  padding: 10px 20px 20px;
}
.level {
  color: #dee4ea;
  margin: 1px 0 0;
}
.l2 {
  margin-left: 20px;
}
.l3 {
  margin-left: 40px;
}
.l4 {
  margin-left: 60px;
}

/*================== SKILLS ==================*/
#skills {
  background-color: var(--color-primary);
}
.skill-container {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.skill-container h4 {
  text-align: left;
  text-decoration: underline;
  font-size: 20px;
  margin: 16px 0;
}
.skills-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.skill-item {
  margin-bottom: 4px;
}
.skill-container img {
  width: 65px;
  height: 65px;
  margin: auto;
}
.skill-name {
  margin: 0;
}

/*================== WORK DONE ==================*/
#workdone {
  background-color: var(--color-secondary);
}
.work-done {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
}
.work-box {
  width: 430px;
  border-radius: 8px;
  overflow: hidden;
  margin: 12px;
  border: 2px solid var(--color-text-secondary);
  box-shadow: 1px 1px 3px 0 var(--color-text-primary);
  position: relative;
}
.work-box:hover {
  border: 2px solid #4278c4;
  box-shadow: none;
}
.work-box:hover:after {
  content: "";
  height: 4px;
  background-color: #4278c4;
  position: absolute;
  animation: bottom-animate 0.7s ease-in;
}
@keyframes bottom-animate {
  0% {
    top: 99%;
    left: 49%;
    width: 0;
  }
  100% {
    top: 99%;
    left: 0;
    width: 110%;
  }
}
.work-img {
  width: 100%;
  height: 220px;
  transition: 0.2s;
}
.work-box:hover .work-img {
  transform: scale(1.03);
  cursor: pointer;
}
.work-done h3 {
  margin: 0;
  font-size: 20px;
  background: var(--color-text-secondary);
  color: var(--color-primary);
  display: inline-block;
  padding: 0 5px;
  border-radius: 0 5px 5px 0;
}
.work-info {
  padding: 0 10px;
  margin: 4px 0;
  font-size: 14px;
}
.work-used {
  display: inline-flex;
  margin-left: 10px;
}
.work-used img {
  width: 36px;
  height: 36px;
  margin-right: 4px;
}
.work-github {
  position: absolute;
  top: 0;
  right: -70px;
  width: 190px;
  height: 48px;
  background: #4278c4;
  transform: rotateZ(45deg);
  text-align: center;
  padding: 4px;
}
.work-github img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  filter: opacity(0.8);
}
.work-github img:hover {
  transition: 0.5s;
  transform: rotate(-45deg);
}

/*================== CONTACT ==================*/
#contact {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  background: var(--color-secondary);
  max-width: 1440px;
}
.iframe {
  height: 300px;
  width: 40%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.contact-bg {
  position: absolute;
  opacity: 0.1;
  z-index: 0;
}
.iframe p,
.iframe a {
  z-index: 1;
  text-shadow: 2px 2px #0000001f;
}
form {
  width: 60%;
  text-align: start;
  padding: 10px 20px 20px;
}
form > div {
  margin: 10px 0;
}
label {
  display: block;
  margin-top: 15px;
}
input,
textarea {
  width: 100%;
  height: 30px;
  font-family: inherit;
  font-size: 15px;
  padding: 14px 10px 10px 2px;
  letter-spacing: 0.6px;
  background: inherit;
  border: none;
  border-bottom: 1px solid var(--color-text-primary);
  color: var(--color-text-primary);
  outline: none;
}
textarea {
  resize: none;
  height: 120px;
}
#send-btn {
  cursor: pointer;
  height: 30px;
  width: 80px;
  font-size: 15px;
  font-family: inherit;
  border-radius: 5px;
  background: inherit;
  color: var(--color-text-primary);
  border: 1px solid var(--color-text-primary);
}
#send-btn:hover {
  background: var(--color-text-primary);
  color: var(--color-primary);
}

/*================== FOOTER ==================*/
footer {
  background-color: var(--color-secondary);
  width: 100%;
  color: var(--color-text-secondary);
  padding: 24px 15px 14px;
}
footer .social-profiles {
  margin-top: -10px;
}
footer .social-logo {
  width: 30px;
  height: 30px;
  margin: 5px;
}
footer p {
  font-weight: bold;
  font-size: 15px;
  margin: 0;
}

/*================== RESPONSIVE ==================*/
@media (max-width: 800px) {
  .name {
    font-size: 33px;
  }
  .name-char {
    font-size: 30px;
  }
  #aboutme {
    font-size: 20px;
  }
  .about-info {
    font-size: 15px;
  }
  .social-logo {
    width: 42px;
    height: 42px;
  }
  .skill-container img {
    width: 50px;
    height: 50px;
  }
  .skill-container h4 {
    font-size: 16px;
  }
  .contact-container {
    flex-direction: column;
  }
  .iframe,
  form {
    width: 100%;
  }
  .iframe {
    max-width: 36rem;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 20px 10px;
  }
  .navbar-headings {
    display: none;
  }
  nav {
    padding: 0 10px;
  }
  #dp {
    width: 150px;
    height: 150px;
  }
  .name-char {
    font-size: 27px;
  }
  .im {
    display: block;
    height: 50px;
  }
  #aboutme {
    font-size: 19px;
  }
  .about-info {
    font-size: 13px;
  }
  .about-me-header div {
    width: 10px;
    height: 10px;
  }
  .work-box {
    width: 100%;
    margin: 10px 0;
  }
  .work-img {
    height: calc(20vw + 6rem);
  }
  .work-done h3 {
    font-size: 19px;
  }
}
